body{
    background-color: rgb(219, 234, 234);
}
header{
    border: 1px solid purple;
    border-radius: 10px;
    background-color: rgb(123, 3, 193);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 40%;
    margin-left: 150px;
    margin-top: 100px;

}
.img1{
    border: 2px solid white;
    border-radius: 40px;
    margin: 40px;
    float: left;
}
.strong{
    color: white;
    margin: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.normal{
    color: rgb(156, 153, 153);
    font-weight: normal;
    margin: -40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.adjust{
    margin-left: 540px;
    margin-top: -89px;
}
.hfisrt{
    color: white;
    margin: 40px;
}
.hsecond{
    color: rgb(156, 153, 153);
    margin: 40px;
    font-size: 90%;
}
article{
    background-color: rgb(52, 59, 85);
    border: 1px solid rgb(52, 59, 85);
    border-radius: 10px;
    width: 25%;
    margin-left: auto;
    margin-top: -395px;
    margin-right: 470px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 395px;
}
.img2{
    border: 2px solid white;
    border-radius: 40px;
    margin: 40px;
    float: left;
}
.hfisrt2{
    color: white;
    padding: 80px;
    margin-left: -40px;

}
.hsecond2{
    color: rgb(156, 153, 153);
    margin: 40px;
    margin-top: -60px;
    font-size: 90%;

}
aside{
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 0px 30px rgb(158, 158, 158);
    width: 19%;
    margin-left: auto;
    margin-right: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 800px;
    margin-top: -919px;
    float: right;
}
.img3{
    border: 2px solid white;
    border-radius: 40px;
    margin: 40px;
    float: left;
}
.strong2{
    color: black;
    font-weight: bold;
    margin: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.normal2{
    color: rgb(156, 153, 153);
    font-weight: normal;
    margin: -40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hfisrt3{
    color: black;
    margin: 40px;
    padding-top: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hsecond3{
    color: rgb(156, 153, 153);
    margin:0px 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 105%;
}
section{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    width: 18%;
    margin-left: 150px;
    height: 380px;
    margin-top: 40px;
    margin-bottom: 100px;
    float: left;
}
.img4{
    border: 2px solid white;
    border-radius: 40px;
    float: left;
    margin-left: auto;
    margin: 40px;

}
.strong4{
    color: black;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 45px;
    margin-right: 10px;
}
.normal4{
    color: rgb(156, 153, 153);
    font-weight: normal;
    margin: -40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 10px;
}
.hsecond4{
    font-size: 13px;
    color: rgb(156, 153, 153);
    margin: 40px;
    font-size: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    border: 1px solid rgb(6, 0, 24);
    background-color: rgb(6, 0, 24);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 46.7%;
    display: flexbox;
    margin-left: 535px;
    margin-top: -485px;
    height: 368px;
    display: block;
    float: left;
}
.imgg{
    border: 2px solid purple;
    border-radius: 40px;
    margin: 40px;
    float: left;
}
.hsecond5{
    font-size: 16px;
    color: rgb(156, 153, 153);
    margin:0px 40px;
    margin-top: -60px;
    font-size: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media screen and (max-width:500px){
    div{
        display: block;
    }
    header{
        display: block;
        margin-left: 13%;
        width: 100%;
        float: none;
        margin-top: 50px;
    }
    .adjust{
        margin-left: 70%;
    }
    .strong{
        margin-right: 30%;
     

    }
    .normal{
    }
    article{
        width: 100%;
        margin-left: 13%;
        height: 400px;
        margin-top: 40px;
        margin-bottom: -900px;

    }
    section{
        display: block;
        margin-left: 13%;
        width: 100%;
        margin-top: 310px;
        margin-bottom: 100px;


    }
    aside{
        display: block;
        margin-left: 13%;
        width: 100%;
        margin-top: 1645px;
        margin-bottom: 10px;
        float: none;
        height: 790px;
        margin-bottom: 900px;

    }

    footer{
        display: block;
        margin-left: 13%;
        width: 100%;
        height: 650px;
        margin-top:0px 50px;
    }
    
}